@import "tailwindcss";

@layer base {
  @import "@aws-amplify/ui-react/styles.css";

  :root {
    --header-height: 3.5rem;

    @media (width >= 64em) {
      --header-height: 3.75rem;
    }
  }

  :root {
    overflow: clip;
    scroll-padding-block: var(--header-height);
  }
}

/* Override Amplify styles for Login */
@layer base {
  [data-amplify-authenticator] {
    @apply h-screen overflow-x-clip overflow-y-auto [scrollbar-gutter:stable];
  }

  [data-amplify-authenticator] [data-amplify-container] {
    @apply self-start;
  }

  [data-amplify-authenticator] [data-amplify-router] {
    @apply border-gray-400 shadow-none;
  }

  .amplify-tabs__panel {
    @apply pt-0;
  }

  /* Button Focus Styles */
  .amplify-button:focus {
    @apply shadow-none outline-0;
  }

  .amplify-button:focus-visible {
    @apply outline-2 outline-blue-600 outline-offset-2;
  }

  /* Primary Button */
  .amplify-button--primary {
    @apply min-h-14 rounded-lg bg-blue-600 transition-none;
  }

  .amplify-button--primary:hover {
    @apply bg-blue-700;
  }

  .amplify-button--primary:active {
    @apply bg-blue-900 shadow-none;
  }

  .amplify-button--primary[type="submit"] {
    @apply mt-4;
  }

  /* Text Button */
  .amplify-button--link {
    @apply min-h-12 rounded-lg text-base font-bold leading-none! text-blue-600 transition-none;
  }

  .amplify-button--link:hover {
    @apply bg-blue-50! text-blue-700;
  }

  .amplify-button--link:active {
    @apply bg-blue-100! text-blue-900;
  }

  .amplify-button--link:focus {
    @apply bg-transparent;
  }

  .amplify-button--link:focus-visible {
    @apply outline-2 outline-blue-600 outline-offset-2;
  }

  .amplify-button--loading,
  .amplify-button--disabled {
    @apply text-white!;
  }

  /* Label */
  .amplify-label {
    @apply text-lg font-bold leading-relaxed text-gray-800;
  }

  /* Input */
  .amplify-input {
    @apply h-[calc(56/16*1rem)] rounded-lg border-gray-600 transition-none;
  }

  .amplify-input:hover {
    @apply border-black;
  }

  .amplify-input:focus {
    @apply outline-2 outline-blue-600 outline-offset-2;
  }

  /* Show Password Button */
  .amplify-field__show-password {
    @apply border-gray-600 transition-none;
  }

  .amplify-field__show-password:hover {
    @apply border-black bg-gray-50!;
  }

  .amplify-field__show-password:focus {
    @apply border-l-0 bg-transparent shadow-none;
  }

  .amplify-field__show-password:focus-visible {
    @apply outline-2 outline-blue-600 outline-offset-2;
  }

  .amplify-field__show-password:active {
    @apply shadow-none outline-none;
  }

  /* Tabs */
  .amplify-tabs__item--active {
    @apply cursor-default! border-blue-600 text-blue-600!;
  }

  /* Alert */
  .amplify-alert {
    @apply items-start;
  }

  .amplify-alert__icon {
    @apply mt-0.5 inline-flex;
  }

  .amplify-alert__dismiss {
    @apply hidden;
  }
}
